<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Daffodil.Properties.Settings.DaffodilConnectionString"
            connectionString="Data Source=DESKTOP-GHBVM6U;Initial Catalog=Daffodil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>